################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dell-BIOS-Updater/v16
/DellBiosInstaller/.vs/DellBiosInstaller/v16/Server/sqlite3
